{
    "presets": [
        "@babel/typescript",
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": false,
                "targets": {
                    "browsers": [
                        "ie >= 11"
                    ]
                }
            }]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "comments": false
}
